<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detail Page</h1>
    <h2><%= data.title %></h2>
    <p><%= data.content %></p>
    <form action="">
        <input name="" id=""></input><br>
        <a href=""><button>Comment</button></a>
    </form>
</body>
</html>