<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PROFILE</h1>
    <p><img src="<%= data.profilePicture %>" alt=""></p>
    <p>Name : <%= data.fullName %></p>
    <p>Email : <%= data.email %></p>
    <p>Akun Dibuat : <%= data.formatDate %></p>
</body>
</html>